@media (min-width: 1921px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }

    .footer-container {
        justify-content: center;
    }
}

@media (max-width: 1024px) {

    .header-container,
    section,
    .footer {
        padding: 2rem;
    }

    .container {
        flex-direction: column;
    }


    .logo h2,
    .phone a {
        font-size: 1.5rem;
    }

    .phone p {
        font-size: 0.7rem;
    }

    .hero__description {
        max-width: 100%;
    }

    .hero__container {
        padding-bottom: 2rem;
        gap: 2rem;
    }

    .buyback__cards,
    .documents__cards {
        flex-wrap: wrap;
    }

    .socials {
        gap: 0.875rem;
    }

    .button {
        padding: 0.5rem 1rem;
    }


    .buyback__cards {
        padding: 0;
    }

    .contacts {
        align-items: center;
    }

    .contacts__description {
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 800px) {

    .logo-container {
        gap: 0.6rem;
        flex-direction: column;
        align-items: center;
    }

    .phone {
        align-items: center;
        gap: 0.6rem;
    }

    .contacts__phone-number {
        font-size: 2rem;
    }

    .footer-container {
        padding: 2.5rem 2.75rem 4.375rem 2.75rem;
    }
}

@media (max-width: 599px) {

    .header-container {
        flex-direction: column;
        gap: 0.6rem;
    }

    .hero__description-header>h1 {
        font-size: 2.3rem;
    }

    .hero__description-header>p {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.8rem;
    }

    .buyback__title,
    .document__title,
    .faq__title {
        font-size: 1.5rem;
    }

    .contacts__description {
        font-size: 1rem;
    }

    .contacts__phone-number {
        font-size: 1.5rem;
    }

    .footer-container {
        padding: 2.5rem 0.55rem 4.375rem 0.55rem;
    }
}