
@media (min-width: 1921px){
     .container {
        width: 70%;
        margin: 0 auto;
    }

    .footer-container {
        justify-content: center;
    }
}

@media (max-width: 1024px) {

    .header-container,
    section,
    .footer {
        padding: 2rem;
    }

    .container {
        flex-direction: column;
    }

    .logo-container,
    .phone-container {
        flex-direction: column;
        gap: 1rem;
    }
    

    .logo h2,
    .phone a {
        font-size: 1.5rem;
    }

    .phone p {
        font-size: 0.7rem;
    }

    .hero__description {
        max-width: 100%;
    }

    .hero__container {
        padding-bottom: 2rem;
        gap: 2rem;
    }

    .buyback__cards,
    .documents__cards {
        flex-wrap: wrap;
    }

    .socials {
        gap: 0.875rem;
    }

    .button {
        padding: 0.5rem 1rem;
    }


    .buyback__cards {
        padding: 0;
    }

    .contacts {
        align-items: center;
    }

    .contacts__description {
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 800px) {}

@media (max-width: 599px) {} 